{% load therapyapps_tags %}
<footer class="bg-dark text-light pt-5 border-top border-secondary border-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 col-md-3 offset-1">
                <h3 class="fw-bold">THERAPY</h3>
                <p class="pt-2">Медицинские расходные материалы</p>
                <p class="mb-2">0987654321</p>
                <p>1234567890</p>
            </div>

            <div class="col-3 col-lg-3 offset-4 text-end">
                <h4>Контакты</h4>
                <ul class="list-unstyled pt-2">
                    <li class="py-1"><a href="tel:+79001111111" class="text-decoration-none fw-light link-light fs-5">+7-900-111-11-11</a></li>
                    <li class="py-1"><a href="mailto:Therapybrand@yandex.ru">Therapybrand@yandex.ru</a></li>
                    <li class="py-1">6560064,Алтайский край, Барнаул, <br>Павловский тракт 74</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

