{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center my-5"><b>О нас:</b></h1>
    <div class="row">
        <div class="col-8 offset-2 text-center">
            <h3>Компания THERAPY основана в 2014 году. За это время мы стали партнерами с многими
                клиниками и медицинскими центрами.
                Каждый клиент крайне важен для нас, и мы очень тщательно относимся к выполнению своих
                обязательств. Главные убеждения нашей компании - это профессионализм, мобильность,
                отличное качество продукции, честность и порядочность.</h3>
        </div>
    </div>
    <h1 class="text-center my-5">БУДЕМ РАДЫ СОТРУДНЕЧЕСТВУ!</h1>
{% endblock %}