{% extends 'base.html' %}
{% load therapyapps_tags %}
{% block content %}
{% sidebar %}
    <div class="body_content">
        <table class="table table-borderless">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"></th>
                {% for cat in categories %}

                    <td>
                        <div class="card" style="width: 18rem;">
                            <p><img width="286px" src="{{ cat.image.url }}" alt="Фото"></p>
                            <div class="card-body">
                                <h5 class="card-title">{{ cat.name }}</h5>
                                <p class="card-text">{{ cat.content }}</p>
                                <a href="{% url 'products' cat.slug %}" class="btn btn-primary">Перейти к товару</a>
                            </div>
                        </div>
                    </td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}