{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center my-5"><b>Условия доставки продукции от THERAPY:</b></h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 offset-2 text-center">
                <h3>Доставка товаров по Барнаулу осуществляется бесплатно от 2000 тысяч руб. <br><br>
                    Для всех покупателей мы отправляем купленную продукцию по всей территории России и странам СНГ ,с
                    помощью транспортных компаний. Мы своими силами доставим приобретенную у нас продукцию до ТК. Услуги
                    перевозчика по доставке товара из <br>г. Барнаула до вашего города вы оплачиваете самостоятельно.
                    <br><br>
                    Вы также можете забрать приобретённую у нас продукцию самостоятельно со склада компании
                    расположенного
                    по адресу: г. Барнаул , Павловский тракт ,74</h3>
            </div>
        </div>
    </div>
    <div class="text-center m-5">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A315aa7fdbb207e1d33b24bd1a4f4ce92adc8b0d217c96a01e54afe5f0353cb88&amp;source=constructor"
                width="990" height="720" frameborder="0"></iframe>
    </div>
{% endblock %}