{% extends 'base.html' %}
{% load therapyapps_tags %}
{% block content %}
    {% sidebar %}

    <div class="container-fluid my-5">
    <div class="text-center">
        <h1>Популярные категории товаров</h1>
    </div>
        <div class="row">
            <div class="col-12 my-5">
                <div class="row">
                    {% for cat in cats %}
                        <div class="card my-4 m-3" style="width: 14rem; background-color: whitesmoke">
                            <p><img width="198px" src="{{ cat.image.url }}"
                                    alt="Фото"></p>
                            <div class="card-body text-center">
                                <h5 class="card-title"><b>{{ cat.name }}</b></h5><br>
                                <a href="{% url 'products' cat.slug %}"
                                   class="btn btn-secondary">Перейти к товару</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% footer %}
{% endblock %}