{% extends 'base.html' %}


{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"></th>
            {% for product in products %}

                <td>
                    <div class="card" style="width: 18rem;">
                        <p><img src="{{ product.image.url }}" alt="Фото"></p>
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.content }}</p>
                            <a href="{% url 'products' product.slug %}" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}