{% extends 'base.html' %}
{% load therapyapps_tags %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 offset-10 text-end">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle bg-warning text-dark" type="button"
                            id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <b>Сортировать по:</b>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{% url 'products' cat %}?sort=2">По убыванию цены</a></li>
                        <li><a class="dropdown-item" href="{% url 'products' cat %}?sort=3">По возрастанию цены</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 offset-4 text-center fw-bold fst-italic my-5">
                <h1>Все {{ category }}</h1>
            </div>
        </div>
    </div>


    <div class="container-fluid my-4 text-start offset-1">
        <div class="row">
            <div class="col-11 my-5">
                <div class="row">
                    {% for product in products %}
                        <div class="card my-4 m-3" style="width: 14rem; background-color: whitesmoke">
                            <img class="" width="198px" src="{{ product.image.url }}"
                                 alt="Фото">
                            <div class="card-body">
                                <h6 class="text-center"><b>{{ product.name }}</b></h6><br>
                            </div>
                            <div class="card-footer">
                                <h6 class="text-center">Цена: {{ product.price }} руб</h6>
                                <a href="{% url 'product_info' product.slug %}"
                                   class="btn btn-secondary text-center">Перейти к товару</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
