{% extends 'base.html' %}
{% load therapyapps_tags %}
{% block content %}
    {% sidebar %}
    <div class="container-fluid my-4 text-start">
        <div class="row">
            <div class="col-11 my-5">
                <div class="row">
                    {% for product in products %}
                        <div class="card my-4 m-3" style="width: 14rem; background-color: whitesmoke">
                            <p><img width="198px" src="{{ product.image.url }}"
                                    alt="Фото"></p>
                            <div class="card-body">
                                <h5 class="card-title text-center"><b>{{ product.name }}</b></h5><br>
                                <h6 class="text-center">Цена: {{ product.price }} руб</h6>
                                <a href="{% url 'product_info' product.slug %}"
                                   class="btn btn-secondary text-center">Перейти к товару</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{##}
{#                        <div class="card" style="width: 18rem">#}
{#                        <p><img src="{{ product.image.url }}" width="260px" alt="lll"></p>#}
{#                        </div>#}